<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_RedSocial">

        <!-- Estos es para el login, si quiero mostrar esto cuando le doy al play, quito los comentarios de esta
        parte y pongo comentarios en el perfil de la red social
           <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->


        <!-- PerfilRedSocialActivity (perfil del usuario), cuando le doy al play, para mostrar esta pestaña del perfil social
        <activity android:name=".PerfilRedSocialActivity" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->


        <!-- para reproducir el home de la red social
        <activity android:name=".HomeRedSocialActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->



        <!-- para lanzar la de spoty en horizontal -->

        <activity
            android:name=".SpotyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Opcionalmente elimina o comenta el intent-filter de la otra actividad que antes era la principal -->



    </application>

</manifest>